.countdown {
    background-color: #009688;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cddc39;
}

:hover {
    cursor: context-menu;
}
