// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$lemon-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$teal-palette),
            accent: mat.define-palette(mat.$lime-palette),
            warn: mat.define-palette(mat.$green-palette),
        ),
    )
);

@include mat.all-component-themes($lemon-theme);



html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #DFFFDE;
}
