#title {
    text-align: center;
    font-size: 44px;
    color: #3d927e;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 35px;
}

.panel-description {
    display: flex;
    justify-content: space-between;
}

.choices-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.choice {
    border: 1px solid #ccc;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: #3d927e;
    padding: 20px 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.qcm-color {
    background-color: #c0f3d8;
}

.qrl-color {
    background-color: #8fd8b7;
}
