.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.table {
    margin: 0 auto;
    width: 60vw;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    padding: 20px 20px;
    font-size: 16px;
    color: #3d927e;
    background-color: white;
}

.button {
    width: 10vh;
    margin: 4vh;
}
