body {
    background-color: #dfffde;
}

#question-container {
    width: 100%;
    height: 14.143vh;
    background-color: #eee9ae;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#question-box {
    width: 61.79vw;
    height: auto;
    font-size: calc(0.9vw + 0.9vh);
    font-family: 'Jua-Regular', Helvetica;
    font-weight: 750;
    text-align: center;
    max-height: 14.6vh;
    max-width: 61.79;
    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;
}

#answer-container {
    display: grid;
    width: 55vw;
    height: 60vh;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 6vh;
    margin-left: 6vw;
    grid-template-columns: 60vw;
    grid-template-rows: 30vh;
    row-gap: 7vh;
}

.player-score {
    font-size: 2.5vw;
    font-family: 'Jua-Regular', Helvetica;
    font-weight: 750;
    text-align: center;
    max-height: 14.6vh;
    max-width: 61.79;
    margin-right: 25vw;
    color: #009688;
}

#give-up {
    width: 11.92vw;
    height: 8.14vh;
    flex-shrink: 0;
    background-color: #f66464;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.466);
    border-radius: 4.34vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'Jua-Regular', Helvetica;
    margin-right: 1vw;
}

#countdown {
    margin-left: 3vw;
    margin-top: 7vh;
}

#top-section {
    display: flex;
    justify-content: right;
    height: 12vh;
    align-items: center;
}

#lower-section {
    display: flex;
    height: 73.64vh;
    gap: 5vw;
}

#send-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    width: 4.3vw;
    font-size: 0.9vw;
    overflow: hidden;
}

#chat-window {
    padding: 1vw;
    text-align: center;
    height: 63.2vh;
    background-color: #8fb5bb;
    font-size: 1.2vw;
    font-weight: 550;
}

#chat-box {
    width: 19.65vw;
    height: 73.64vh;
    justify-content: center;
    margin-top: 0vh;
    margin-right: -5vw;
}

#chat-input {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    background-color: #b9cdd0;
    padding: 0.5vw;
    height: 4vh;
}

#user-input {
    width: 14vw;
    font-size: 0.8vw;
}

#submit-button {
    font-family: 'Jua-Regular', Helvetica;
    margin-top: -3vh;
    margin-left: 22vw;
    width: 10vw;
    height: 5.5vh;
    border-radius: 5vw;
    font-size: 1.5vw;
}

#bottom-button-container {
    grid-row: 3;
}
