<mat-card>
    <div id="timer-container">
        <app-game-countdown [radius]="50"></app-game-countdown>
    </div>

    <div id="buttons">
    <button [disabled]="(canToggleStopObservable | async) === false" (click)="toggleStop()" mat-raised-button>
        <img [src]="iconPausePath" width="30" height="30" alt="Pause"/>
    </button>

    <button [disabled]="(canStartPanicObservable | async) === false" (click)="startPanic()" mat-raised-button>
        <img [src]="iconPanicPath" width="30" height="30" alt="Panic"/>
    </button>
    </div>
</mat-card>