.left-align {
    text-align: left;
}

.question-card {
    width: 90%;
    background-color: #DFFFDE;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
}