.custom-textarea {
    resize: none;
    width: 95%;
    height: 80%;
    font-size: 1.5vw;
    border-radius: 2vw;
    font-weight: 700;
    padding: 10px;
}

.character-count {
    font-size: 12px;
    color: #888;
}